<header class="header">
  <div class="h-container">
    <nav class="nav">
      <ul class="nav-list">
        <li>
          <a routerLink="/home" routerLinkActive="active">Productos</a>
        </li>
        <li class="active">
          <a routerLink="/newproduct" routerLinkActive="active"
            >Agregar Producto</a
          >
        </li>
        <li class="buscar">
					<input type="text" placeholder="Buscar">
				</li>
        <ng-container *ngIf="authService.verifytoken()">
          <li>
            <a (click)="logout()">LogOut</a>
          </li>
        </ng-container>
      </ul>
    </nav>
  </div>
</header>
<div id="main">
  <div id="sidebar"></div>
  <div id="contend-area ">
    <form [formGroup]="Product" (ngSubmit)="updateProduct()" class="f-group">
      <div>
        <input
          id="name"
          type="text"
          formControlName="name"
          placeholder="name"
        />
      </div>
      <div>
        <input
          id="price"
          type="text"
          formControlName="price"
          placeholder="price"
        />
      </div>
      <div>
        <input
          id="inventory"
          type="text"
          formControlName="inventory"
          placeholder="inventory"
        />
      </div>
      <div>
        <input
          id="category"
          type="text"
          formControlName="category"
          placeholder="category"
        />
      </div>

      <button class="button" type="submit">Actualizar</button>
    </form>
  </div>
</div>
