<header class="header">
	<div class="h-container">
        <nav class="nav">
			<ul class="nav-list">
				<li class="active">
					<a routerLink="/home" routerLinkActive="active">Productos</a>
				</li>
				<li>
					<a routerLink="/newproduct" routerLinkActive="active">Agregar Producto</a>
				</li>
                <li class="buscar">
					<input type="text" placeholder="Buscar ">
				</li>
                <ng-container *ngIf="authService.verifytoken()">
                    <li>
                        <a (click)="logout()">LogOut</a>
                    </li>
                </ng-container>

			</ul>
		</nav>
	</div>
</header>
<div id="main">
    <div id="sidebar"></div>
    <div id="contend-area">
        
        <ul class="ulcla"> 
            <li class="licla" *ngFor="let product of products">
                <div className="product-card">
                    <div className="card-body">
                        <h4 className="title">
                            {{product.name}}
                        </h4>
                        <p className="id">
                            <label>Id: </label> {{product.id}}
                        </p>
                        <h3 className="cat">
                            <div *ngIf="product.categories[0]">
                                <label>categoria: </label> {{product.categories[0].name}}
                            </div>
                            
                        </h3>
                        <h3 className="price">
                            <label>Precio: </label>  {{product.price}}
                        </h3>
                        <h3 className="inv">
                            <label>Inventario: </label>   {{product.inventory}}
                        </h3>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="tabopen" (click)="deleteProduct(product.id)">Delete</button>
                    <button [routerLink]="['/update/',product.id ]"> Update </button> 
                </div>

 
            </li>
        </ul>

    </div>
  </div>